@import "tailwindcss";

@theme {
  --font-family: 'Poppins', sans-serif;
  --color-primary: #E31E24;
  --color-primary-hover: #bf1a1f;
  --color-secondary: #1D1D1B;
}

/* Opcional: Estilo base para el body */
body {
    font-family: var(--font-family);
    background-color: #f9fafb;
    zoom: 0.75;
}

.swiper-button-prev, .swiper-button-next {
    color: var(--color-secondary) !important;
}
.swiper-button-prev:hover, .swiper-button-next:hover {
    color: var(--color-primary) !important;
}
.swiper-pagination-bullet-active {
    background-color: var(--color-primary) !important;
}

.product-carousel h3 {
    font-size: 1.5rem !important; /* Ajusta a tu gusto */
  }
  .product-carousel .inline-block {
    font-size: 1.5rem !important; /* Ajusta a tu gusto */
  }

  @media (min-width: 640px) {
    .product-carousel h3 {
      font-size: 1.75rem !important;
    }
    .sm\:text-base{
      font-size: 1.75rem !important;
    }
  }